# At here place bot token like example: 
# token="OTI2bna9qZvCuBu9Nwm7Di4U50y6.Yc1tgA.bNJRNnS1-l537xMkVXlYjgYHK"
token="MTQ1ODUzMjAzOTM0NjIyNTM2Mg.GZUnDG.gDOaRci0A6yZ-isIk2BUcwnx7f3Av8LHJXo3hk"

# Place bot message commands prefix in here like example:
# prefix="!"
prefix="/"

# Choose one type for save users and guilds data. Types: "mysql" | "sql" | "mongodb" | "json" 
# database_type="json"
database_type="json"

# Place bot main server's id in here like example:
# server_id="1054814674979409940"
server_id="1415773443286237237"
